<script>
  $( function() {
    $( ".datepicker" ).datepicker({
      dateFormat: "yy-mm-dd",
    });
  } );
</script>

<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :client_last_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :client_first_name %>
  </div>

  <div class="field">
    <%= form.label :prefix %>
    <%= form.text_field :prefix, id: :client_prefix %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :client_street %>
  </div>

  <div class="field">
    <%= form.label :apartment %>
    <%= form.text_field :apartment, id: :client_apartment %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :client_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :client_state %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code, id: :client_zip_code %>
  </div>

  <div class="field">
    <%= form.label :phone1 %>
    <%= form.text_field :phone1, id: :client_phone1 %>
  </div>

  <div class="field">
    <%= form.label :phone2 %>
    <%= form.text_field :phone2, id: :client_phone2 %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :client_email %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.text_field :date_of_birth, id: :client_date_of_birth, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :local_type %>
    <%= form.text_field :local_type, id: :client_local_type %>
  </div>

  <div class="field">
    <%= form.label :dlw %>
    <%= form.text_field :dlw, id: :client_dlw, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :dli %>
    <%= form.text_field :dli, id: :client_dli, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :first_contact %>
    <%= form.text_field :first_contact, id: :client_first_contact, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :packet_sent %>
    <%= form.text_field :packet_sent, id: :client_packet_sent, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :sign_up_date %>
    <%= form.text_field :sign_up_date, id: :client_sign_up_date, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :initial_to_local %>
    <%= form.text_field :initial_to_local, id: :client_initial_to_local, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :verfication_of_local %>
    <%= form.text_field :verfication_of_local, id: :client_verfication_of_local, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :sixteen_ninety_six_to_oadr %>
    <%= form.text_field :sixteen_ninety_six_to_oadr, id: :client_sixteen_ninety_six_to_oadr, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :verification_of_oadr %>
    <%= form.text_field :verification_of_oadr, id: :client_verification_of_oadr, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :local %>
    <%= form.text_field :local, id: :client_local %>
  </div>

  <div class="field">
    <%= form.label :oadr %>
    <%= form.text_field :oadr, id: :client_oadr %>
  </div>

  <div class="field">
    <%= form.label :initial_appearance %>
    <%= form.text_field :initial_appearance, id: :client_initial_appearance, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :initial_denial %>
    <%= form.text_field :initial_denial, id: :client_initial_denial, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :recon_filed %>
    <%= form.text_field :recon_filed, id: :client_recon_filed, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :recon_denial %>
    <%= form.text_field :recon_denial, id: :client_recon_denial, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :fr_requested %>
    <%= form.text_field :fr_requested, id: :client_fr_requested, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :fr_sub %>
    <%= form.text_field :fr_sub, id: :client_fr_sub, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :rfh_filed %>
    <%= form.text_field :rfh_filed, id: :client_rfh_filed, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :rfh_acked %>
    <%= form.text_field :rfh_acked, id: :client_rfh_acked, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :proposed_exhibits %>
    <%= form.text_field :proposed_exhibits, id: :client_proposed_exhibits, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :ready_to_schedule %>
    <%= form.text_field :ready_to_schedule, id: :client_ready_to_schedule, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :date_scheduled %>
    <%= form.text_field :date_scheduled, id: :client_date_scheduled, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :claimant_hearing_prep %>
    <%= form.text_field :claimant_hearing_prep, id: :client_claimant_hearing_prep, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :notice_of_hearing %>
    <%= form.text_field :notice_of_hearing, id: :client_notice_of_hearing, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :hearing_date %>
    <%= form.text_field :hearing_date, id: :client_hearing_date, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :supplemental_date %>
    <%= form.text_field :supplemental_date, id: :client_supplemental_date, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :expedited %>
    <%= form.text_field :expedited, id: :client_expedited, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :decision %>
    <%= form.text_field :decision, id: :client_decision %>
  </div>

  <div class="field">
    <%= form.label :decision_date %>
    <%= form.text_field :decision_date, id: :client_decision_date, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :alj %>
    <%= form.text_field :alj, id: :client_alj %>
  </div>

  <div class="field">
    <%= form.label :ve %>
    <%= form.text_field :ve, id: :client_ve %>
  </div>

  <div class="field">
    <%= form.label :me %>
    <%= form.text_field :me, id: :client_me %>
  </div>

  <div class="field">
    <%= form.label :ac %>
    <%= form.text_field :ac, id: :client_ac, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :awarded_at %>
    <%= form.text_field :awarded_at, id: :client_awarded_at %>
  </div>

  <div class="field">
    <%= form.label :appeal %>
    <%= form.check_box :appeal, id: :client_appeal %>
  </div>

  <div class="field">
    <%= form.label :appeal_filed %>
    <%= form.check_box :appeal_filed, id: :client_appeal_filed %>
  </div>

  <div class="field">
    <%= form.label :close_out_letter %>
    <%= form.text_field :close_out_letter, id: :client_close_out_letter, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :costs %>
    <%= form.text_field :costs, id: :client_costs %>
  </div>

  <div class="field">
    <%= form.label :cost_two %>
    <%= form.text_field :cost_two, id: :client_cost_two %>
  </div>

  <div class="field">
    <%= form.label :cost_three %>
    <%= form.text_field :cost_three, id: :client_cost_three %>
  </div>

  <div class="field">
    <%= form.label :date_costs_received %>
    <%= form.text_field :date_costs_received, id: :client_date_costs_received, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :date_ssdi_received %>
    <%= form.text_field :date_ssdi_received, id: :client_date_ssdi_received, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :date_ssi_received %>
    <%= form.text_field :date_ssi_received, id: :client_date_ssi_received, class: 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :case_id %>
    <%= form.text_field :case_id, id: :client_case_id %>
  </div>

  <div class="field">
    <%= form.label :open %>
    <%= form.text_field :open, id: :client_open %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
