<table border='1'>
  <tr>
    <th>Editor</th>
    <th>Field Changed</th>
    <th>Previous Value</th>
    <th>Edited Value</th>
    <th>Date</th>
  </tr>
<% versions.reverse.each do |version| %>
  <% user = User.find_by(id: version.whodunnit) %>
  <% version.changeset.reject { |k,v| ['id', 'created_at', 'updated_at'].include?(k) }.each do |key,value| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= key %></td>
      <td><%= value[0] %></td>
      <td><%= value[-1] %></td>
      <td><%= version.changeset['updated_at'][-1] %></td>
    </tr>
  <% end %>
<% end %>
</table>
